*{
    margin: 0px;
    padding: 0px;
    box-sizing : border-box;
}

body{
    background-color: #f5efe6; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    font-family: sans-serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px black;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen{
    display: none;
    padding: 3rem;
    text-align: center;
}

.screen.active{
    display: block;
}

/* Start screen */
#start-screen h1{
    color: #d45b28;
    font-size: 2rem;
    margin-bottom: 30px;
}

#start-screen p{
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: #333 ;
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.answer-btn{
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.answer-btn.correct{
    background-color: #e6fff0;
    border-color: lightgreen;
    color: lightblue;
}


.answer-btn.correct{
    background-color: #e6fff0;
    border-color: lightsalmon;
    color: #d45b28;
}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius : 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100%;
    background-color:#d45b28;
    width: 0;
    transition: width 0.3s ease;

}

#result-screen h1{
    color: #d45b28;
    margin-bottom: 20px;

}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.result-info p{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #333;
}

#result-message{
        font-size: 1.5rem;
        font-weight: 600;
        color: #d45b28;
}

button{
    background-color: #d45b28;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgb(159, 81, 81);
}